#hire {
    width: 520px;
    max-width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 24px auto;
    padding-top: 32px;
  }

  #hiretxt {
    font-size: 36px;
    font-weight: bold;
    color: rgb(186, 184, 181);
    margin-bottom: 32px;
    padding: 8px;
  }

  .rectangle {
    display: inline-block;
    width: 450px;
    height: 100px;
    background: white;
    border: 2px solid #dedbdb;
    border-radius: 8px;
    box-shadow: 1px 3px grey;
    align-items: center;
    align-content: center;
    margin-bottom: 18px;
  }

  #statusrectangle {
    display: inline-block;
    width: 20px;
    height: 10px;
    background: white;
    border: 2px solid #dedbdb;
    border-radius: 12px;
    box-shadow: 1px 3px grey;
    align-items: center;
    align-content: center;
  }

  #workerimg {
    width: 75px;
    height: 75px;
    border: 2px solid white;
    border-radius: 100px;
    float: left;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 25px;
    
  }
  #workerimg:hover {
    border: 2px solid green;
  }

  .rectxt {
    color: rgb(66, 64, 64);
    font-size: 20px;
    padding: 14px;
    text-align: left;
    margin-left: 115px;
  }

  #servicetxt {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    text-align: left;    
  }
 
  #hirebutton {
    background-color: green;
    color: white;
    width: 30%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0px auto;
    margin-right: 17px;
    padding: 8px;
    float: right;
  }
  
  #hirebutton:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
    font-size: 16px;
  }